* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* OJO esto no AA */
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: red;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

